<h1>Pessoas Cadastradas</h1>
<hr>

<section id="peoples">

    <div class="card text-dark mb-3">
        <h5 class="card-header">Elton Marques <small>19/10/2022</small></h5>
        <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est at voluptas, 
            labore temporibus minima culpa, earum iusto repellendus placeat, quae quos voluptatem dolor? Atque, facilis ducimus! Sit optio, odio nemo blanditiis obcaecati beatae quas? Magni deserunt veritatis, 
            vero doloribus illo harum quaerat culpa dolorum nisi cum velit quidem rem ut.
        </div>
    </div>

</section>

<section id="form">

    <h3>Cadastrar pessoas</h3>

    <form action="" method="post">

        <div class="form-group">
            <input type="text" class="form-control" name="nome" required>
        </div>

    </form>

</section>