<section id="form">

    <h3>Cadastrar pessoas</h3>

    <form class="row g-3" action="{{URL}}/pessoas?page=1" method="post">

        <div class="col-md-8">
            <label for="nome" class="form-label">Nome Completo</label>
            <input type="text" name="nome" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label for="dt_nasc" class="form-label">Data Nasc.</label>
            <input type="date" name="dt_nasc" class="form-control" required>
        </div>
        
        <div class="col-md-4">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" name="cpf" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label for="rg" class="form-label">RG</label>
            <input type="text" name="rg" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label for="nis" class="form-label">NIS</label>
            <input type="text" name="nis" class="form-control" required>
        </div>
        
        <div class="form-group">
            <button class="btn btn-success" type="submit">Finalizar</button>
        </div>
    </form>

</section>